body{
  
  background: url("../images/stage.jpg") no-repeat; 
  background-size: 100% 120%;  
}



#user_buttons,#user_hand,#scores,#pc_hand,#pc_buttons{
	display: inline-block;
}

ul{
  	list-style-type: none;
}

#user_hand{
	width: 25%;
	background-color: white;
  	margin-left: 20px;
  	border-radius: 10px;
}

#scores{
	text-align: center;
	margin: 0px 75px 200px 75px;
}

td{
	width:55px;
	height: 70px;
}

#table_heads{
	background-color: #f3f1f1;	
	font-family: 'Century Gothic';
}

#table_scores{
	background-color: #121212;
	font-family: georgia;
	font-size: 50px;
	color: #FFFF00;
}

#pc_hand{
	width: 25%;
	background-color: white;  
  	border-radius: 10px;
  	margin-right: 20px;
}

.show{
	display: block;
}

.hidden{
	display: none;
}

#win,#tie,#lose{
	position: absolute;
	font-family: impact;
    font-size: 125px;    
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

#win{
	margin-top: -19%;
    margin-left: 40.5%;
	color: green;
}

#tie{
	margin-top: -19%;
    margin-left: 43%;
	color: #7B7F7B;
}

#lose{
	margin-top: -19%;
    margin-left: 39.5%;
	color: #E40000;
}

h2{
	font-family: 'Century Gothic';
	margin-bottom: 45px;
}

#cy {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.hideCanvas{
	display: none;
}

.showCanvas{
	visibility: visible;
}

#container{
	margin-left: 10%;
	font-family: georgia;
}

#imgCont,#msgPred{
	display: table-cell;
}

#imgCont{
	width: 50%;
}

#msgPred{
	vertical-align: middle;
}







