<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Rock-Paper-Scissors</title>
        <link rel="stylesheet" href="../static/css/StyleSheet.css"/>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/Script.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <link rel="shortcut icon" href="../static/images/rsp_icon.ico">
    </head>
    <body>        
        <center><img src="../static/images/rsp.png" width=200 height=200></center>
        <div>
            <div id="user_buttons">
                <ul>
                    <li><a href="#" onclick="javascript:showUserHand(this);" data-section="user_rock_hand"><img src="../static/images/rock_logo.png" title="Play Rock" width=100 height=100></a></li>
                    <li><a href="#" onclick="javascript:showUserHand(this);" data-section="user_paper_hand"><img src="../static/images/paper_logo.png" title="Play Paper" width=100 height=100></a></li>
                    <li><a href="#" onclick="javascript:showUserHand(this);" data-section="user_scissors_hand"><img src="../static/images/scissor_logo.png" title="Play Scissors" width=100 height=100></a></li>
                </ul>
            </div>
                        
            <div id="user_hand">
                <img id="user_rock_hand" class="show" src="../static/images/user_rock.png" width=300 height=300 style="border-radius: 5px;">
                <img id="user_paper_hand" class="hidden" src="../static/images/user_paper.png" width=300 height=300 style="border-radius: 5px;">
                <img id="user_scissors_hand" class="hidden" src="../static/images/user_scissor.png" width=300 height=300 style="border-radius: 5px;">
            </div>

            <div id="scores">
                <table>
                    <tr id="table_heads">
                        <th>Win</th>
                        <th>Tie</th>
                        <th>Lose</th>
                    </tr>
                    <tr id="table_scores">
                        <td id="win_score">0</td>
                        <td id="tie_score">0</td>    
                        <td id="lose_score">0</td>
                    </tr>
                </table>
            </div>

            <div id="pc_hand">
                <img id="pc_rock_hand" class="show" src="../static/images/pc_rock.png" width=300 height=300 style="border-radius: 5px; margin: 0px 0px 0px 37px;">
                <img id="pc_paper_hand"class="hidden" src="../static/images/pc_paper.png" width=300 height=300 style="border-radius: 5px; margin: 0px 0px 0px 37px;">
                <img id="pc_scissors_hand" class="hidden" src="../static/images/pc_scissor.png" width=300 height=300 style="border-radius: 5px; margin: 0px 0px 0px 37px;">
            </div>

            <div id="pc_buttons">
                <img src="../static/images/alg_logo.png" title="See what PC is thinking" width=100 height=100 style="margin-bottom: 100%;">
            </div>
        </div>

        <a href="#" onclick="javascript:resetScores();"><img src="../static/images/refresh.png" title="Restart Game" width=50 height=50 style="margin-left: 12%;"></a>

        <div id="result_msg">
            <div id="win" class="hidden">WIN!</div>
            <div id="tie" class="hidden">TIE!</div>
            <div id="lose" class="hidden">LOSE!</div>
        </div>
    </body>
</html>